.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--main-layout-header-height);
    background-color: var(--primary);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: var(--main-layout-width);
}

.nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 24px 16px;
    font-weight: 600;
    font-size: 1.5rem;

    span {
        margin-left: 5px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
}

.logo-link {
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: 1.5rem;
}

.menu-items {
    display: flex;
    width: 500px;
    padding: 12px 24px;
    position: relative;
    margin-top: -8px;

    &::after {
        position: absolute;
        content: '';
        top: -25px;
        left: 40px;
        border: 15px solid var(--white);
        border-color: transparent transparent var(--white) transparent;
    }
}

.memu-item {
    display: flex;
    width: 226px;
    height: 36px;
    font-size: 1.6rem;

    &:hover {
        color: var(--hover-text-color);
    }
}
